@import url('common.css');

/* header style */
header {
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  line-height: 100px;
/* 포지션을 주면 가로길이가 깨지기 때문에 가로길이 다시줘야함 */
  position: fixed;
  top: 0;
  width: 100%;
  /* 헤더는 항상 위에 있어야 하므로 zindex값을 줘라 시원하게 */
  z-index: 10000;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}


header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%;
}


header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed yellow; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a{
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover{
  color: #ff8342;
}



header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: white;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i{
  margin-right: 8px;
  font-size: 18px;
}
header .inner-header .tnb li:last-child a{
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover{
  background: white;
  color: orange;
}
header .inner-header .tnb li:last-child i{
  margin-left: 5px;
}
header .inner-header .gnb-mobile{
  display: none;
}

/* end  header */

/* begin section main */

section.main{
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed ;
  height: 100vh;
  position: relative;
}

section.main .main-title{
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}
section.main .main-title h2{
  font-size: 55px;
}
section.main .main-title p{
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view{
  font-size: 15px;
  letter-spacing: 2px;

  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden;

  position: relative;
}

/* 가상의 view 박스 */
section.main .main-title .view::after{
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
section.main .main-title .view:hover::after{
  width: 100%;
}
/* 가상의 view 박스 끝*/



/* section > div.title 공통 style */
section .title{
  text-align: center;
}
section .title h2{
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p{
  font-size: 18px;
  color: #555;
}
section .sub-container{
  width: 74%;
  margin: 0 auto;
}


/* section.about style */
section.about{
  margin: 80px 0;

}
section.about ul.sub-container{
  /* background: orange; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}
section.about ul.sub-container li{
  float: left;
  width: 33.333%;
  height: 510px;
}
section.about ul.sub-container li a:hover .img-box img{
  transform: scale(1.2);
}
section.about ul.sub-container li .img-box{
  /* border: 1px solid #000; */
  overflow: hidden;
}
section.about ul.sub-container li .img-box img{
  width: 100%;
  /* hover가 없는쪽에 transition을 줘야함. */
  transition: 0.6s;
}
section.about ul.sub-container li .text{
  padding: 25px;
}
section.about ul.sub-container li .text h3{
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p{
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more{
  text-transform: uppercase;
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding: 0 40px;
}
section.about ul.sub-container li .text .more::before{
  content: '☞';
  text-align: center;
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  /* background: orange; */
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}



/* section innovation */

section.innovation{
  /* background: red; */
  margin: 80px 0;
  /* text-align: center; */
}
section.innovation .title{
  padding: 0px;
  padding-bottom: 50px;
}
section.innovation .title h2{
  font-weight: 600;
}
section.innovation .title p{
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}


section.innovation div.sub-container {
  width: 1440px;
  height: 840px;
  /* border: 5px solid orange; */
  position: relative;
}
section.innovation div.img-box{
  width: 1440px;
  height: 540px;
  /* padding-top: 30px; */
  background: url('../img/product_1.jpg');
}
section.innovation div.sub-container .inner{
  width: 1120px;
  /* height: 240px; */
  /* border: 5px solid red; */
  position: absolute;
  top: 360px;
  left: 160px;
}
section.innovation div.sub-container .inner h3{
  font-size: 25px;
  font-weight: 500;
  text-align-last: left;
  padding: 30px;
  background: white;
  /* border: 5px solid red; */
}
section.innovation div.sub-container .inner .bottom{
  background: #123456;
  text-align-last: left;
  /* border: 4px solid blue; */
  padding: 20px;
  /* width: 100%; */
}
section.innovation div.sub-container .inner .bottom p{
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  float: left;
  width: 65%;
  margin: 35px auto;
  color: white;
  /* line-height: 1.5; */
  padding-left: 35px;
}
section.innovation div.sub-container .inner .bottom a{
  float: left;
  width: auto;
  /* border: 4px solid red; */
  text-align: center;
  margin-top: 30px;
  padding: 10px 40px;
  margin-left: 120px;
  background: rgb(255, 115, 0);
  border-radius: 30px;
  color: white;
}
section.me{
  background: red;
}

